@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

header {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


#dogPics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  /* background-color: lightcoral; */
}

.dogpics {
  height: 200px;
  width: 350px;
  margin: 5px;
  border-radius: 15px;
}



#dogSize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px 40px 10px 40px;
  padding: 30px;
  height: 150px;
  font-family: 'Raleway', sans-serif;
  font-size:20px;
  background-color: lightgray;
  border-style: solid;
}

#sizeList {
  border-style: solid;

}

  #selectSize {
    width: 60%;
    height: 25px;
  }

#generateDog {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

#dogPic {
  height: 500px;
  width: 600px;
  border: lightgray;
  border-style: solid;
}

#dogPicDiv {
  display: flex;
  justify-content: center;
}

#lifeSpan {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

#weight {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: 'Raleway', sans-serif;
}

#temperament {
  display: flex;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
}

@media (max-width: 700px) {
  #dogPics {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
  .dogpics {
    height: 20vh;
    width: 35vh; 
  }
  #dogPic{
    height: 40vh;
    width: 50vh
  }
}
