@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap");

header {
  /* text-align: center;
  font-family: "Raleway", sans-serif;
  background-color: lightgray;
  height: 100px; */
  
    text-align: center;
    font-family: "Raleway", sans-serif;
    background-color: lightgray;
    height: 115px;
    border: solid;
    padding: 0px 0px 25px 0px;
    margin: 0px 20px
}




h1 {
  font-size: 35px;
  font-weight:bold;
}

h3 {
  font-weight:normal;
}
#dogPics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
  /* background-color: lightcoral; */
}

.dogpics {
  height: 200px;
  width: 350px;
  margin: 20px;
  border-radius: 15px;
}

#dogSize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 30px;
  height: 80px;
  font-family: "Raleway", sans-serif; font-size: 20px;
  background-color: lightgray;
  border-style: solid;
  width: 400px
}

#sizeList {
  border-style: solid;
}

#selectSize {
  width: 60%;
  height: 25px;
}

#generateDog {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  height: 90px;
  align-items: flex-end;
}

#dogPic {
  height: 450px;
  width: 600px;
  border: lightgray;
  border-style: solid;
  background-color: lightgray;
  background-image: url(https://lirp.cdn-website.com/7ece8951/dms3rep/multi/opt/GettyImages-544673512-960w.jpg);
  background-size: 600px 450px;
  background-size: 700px 450px;
  background-position: center;
  background-blend-mode: luminosity;
}

#dogPicDiv {
  display: flex;
  justify-content: center;
}

#lifeSpan {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

#weight {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family: "Raleway", sans-serif;
}

#temperament {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

@media (max-width: 700px) {
  header {
    margin:auto;
  }
  
  #dogPics {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
  }
  #dogSize {
    margin: 0px 30px;
    height: 90px;
    width: auto;
  }
  .dogpics {
    height: 160px;
    width: 300px;
    margin: 10px;
  }
  #dogPic {
    height: 40vh;
    width: 55vh;
  }
}

@media (max-width: 420px) {
h1 {
  font-size: 27px;
  margin-top: 30px;
}

h3{
font-size: 15px;
}

#dogSize {
  font-size:17px;
}

}
